{% extends 'UserBundle:Layout:homelayout.html.twig' %}
 {% block body %}
     <title></title>
     <h1>Welcome Index Page</h1>
     <a href="{{ path('admin_home') }}">Home</a>
     <a  href="{{ path('register_new') }}">Register User</a>
 {% endblock %}
