
<div class="hold-transition skin-blue sidebar-mini">
    <div class=" wrapper">
        <div  style="min-height: 654px;background: #d2d6de;">
            <section class="content">
                {% block body %}

                {% endblock %}

                <!-- Your Page Content Here -->

            </section>
        </div>
    </div>
</div>

